.wrapper-artwork-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.artwork-title {
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.wrapper-artwork-information {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000;
}

.artwork-info {
  font-size: 30px;
  line-height: 50px;
}

.artwork-common-info {
  flex: 1;
}

.artwork-description {
  flex: 2;
}
