<area-header></area-header>
<div class="wrapper-artwork-card">
  <div class="artwork-title">{{ datasourceCard?.title_localise }}</div>

  @if (datasourceCard?.description_explication) {
  <div class="wrapper-artwork-information">
    <div class="artwork-common-info artwork-info">
      @for (field of getArtworkInfo(); track field) {
      <div class="artwork-card-info">
        {{ field.nameField }} {{ field.valueField && "-" }}
        {{ field.valueField }}
      </div>
      }
    </div>
    <div class="artwork-description artwork-info">
      {{ datasourceCard?.description_explication }}
    </div>
  </div>
  } @if (datasourceCard?.photos.length > 0) {
  <div class="wrapper-artwork-photo">
    @for (photo of datasourceCard?.photos; track $index) {
    <image-component [photo]="photo"></image-component>
    }
  </div>
  } @if (datasourceCard?.videos.length > 0) {
  <div class="wrapper-artwork-video">
    @for (video of datasourceCard?.videos; track $index) {
    <iframe
      [src]="sanitizeUrl(video?.link_video)"
      width="100%"
      height="400"
      frameborder="0"
      allowfullscreen
    ></iframe>
    }
  </div>
  } @if (datasourceCard?.additional_materials.length > 0) {
  <div class="wrapper-artwork-audio">
    @for (audio of datasourceCard?.additional_materials; track $index) {
    <audio [src]="audio?.link_material" controls></audio>
    }
  </div>
  }
</div>
