@mixin toogle-item {
    background-color: #fff;
    opacity: 0.3;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin font-table {
    font-family: 'Wremena', sans-serif !important;
    font-size: 20px;
}

table {
    width: 100%;

}

th.mat-sort-header-sorted {
    color: black;
}

.wrapper-pagination {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 35px;
    margin-top: 70px;
}

.pagination-arrow-left {
    background-image: url("/assets/images/arrowLeft.png");
    height: 15px;
    width: 15px;
    cursor: pointer;
    @include toogle-item;
}

.pagination-current {
    border-bottom: 1px solid #000;
    margin: 0 10px;
    width: 30px;
    text-align: center;
    user-select: none;
}

.pagination-arrow-right {
    background-image: url("/assets/images/arrowRight.png");
    height: 15px;
    width: 15px;
    cursor: pointer;
    @include toogle-item;
}

.pagination-slide {
    background-image: url("/assets/images/IconSlide.png");
    height: 35px;
    width: 35px;
    cursor: pointer;
    @include toogle-item;
}

.pagination-count {
    user-select: none;
}

.biennial-main-table-row {
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    @include font-table;
}

.main-table-header {
    font-weight: bold;
    @include font-table;
}

.biennial-main-table-row:hover {
    transform: scale(1.01);
    opacity: 0.9;
  }
  