::ng-deep .mdc-line-ripple,
::ng-deep .mat-mdc-select-arrow-wrapper,
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  padding: 0 5px !important;
}
::ng-deep .mat-mdc-form-field-infix {
  padding-top: 8px !important;
}

.custom-filter {
  border: 1px solid #000;
  border-radius: 37px;
  text-align: center;
  height: 35px;
  opacity: 0.6;
  font-family: "Inter", sans-serif !important;
  font-size: 15px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.custom-filter:hover {
  transform: scale(1.1);
  opacity: 1;
}

.custom-filter-label {
  text-align: center;
}

.custom-filter-options {
  font-size: 17px;
}

::ng-deep .mat-mdc-select-panel {
  padding: 10px !important;
  background-color: #fff !important;
}
