@mixin image-format {
    height: 40px;
    background-repeat: no-repeat;
    background-position: right;
}

.filters-header-biennial {
    background-image: url("/assets/images/filtersHeaderImage.png");
    @include image-format;
}

.filters-wrapper {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.filters-icon-biennial {
    background-image: url("/assets/images/iconBiennial.png");
    width: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    @include image-format;
}

.filters-icon-biennial:hover {
    transform: scale(1.15);
}