.wrapper-author-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.author-information-block {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin: 50px;
}

.wrapper-author-information {
  max-width: 1500px;
  width: 800px;
  min-width: 500px;
}

.author-information-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}

.author-information-text {
  font-size: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.author-information-text:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.wrapper-right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-website {
  text-align: right;
  font-size: 30px;
  font-style: italic;
}