<div class="filters-header-biennial"></div>
<div class="filters-wrapper">
  <div class="filters-icon-biennial"></div>
  <search class="search-biennial"></search>
  <filter [title]="'ТИП'" [options]="optionsList['type-projects']"></filter>
  <filter
    [title]="'БИЕННАЛЕ №'"
    [width]="'135px'"
    [options]="optionsList['edition-biennials']"
  ></filter>
  <filter [title]="'СТРАНА'" [options]="optionsList['countries']"></filter>
  <toogle-icon [activeButton]="activeToogleGrid"></toogle-icon>
</div>
