@font-face {
    font-family: 'Wremena';
    src: url('/assets/fonts/Wremena/Bold.woff') format('woff');
    font-weight: 700; 
    font-style: normal;
  }
  
@font-face {
    font-family: 'Wremena';
    src: url('/assets/fonts/Wremena/Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Wremena';
    src: url('/assets/fonts/Wremena/Regular.woff') format('woff');
    font-weight: 400; 
    font-style: normal;
  }
  
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Bold.woff') format('woff');
    font-weight: 700; 
    font-style: normal;
  }
  
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Regular.woff') format('woff');
    font-weight: 400; 
    font-style: normal;
  }
  
body {
    font-family: 'Wremena', sans-serif;
}