@mixin toogle-item {
    height: 35px;
    width: 35px;
    background-color: #fff;
    opacity: 0.3;
}

.toogle-icon-wrapper {
    display: flex;
    gap: 5px;
}

.toogle-item {
    height: 35px;
    width: 35px;
}

.toogle-grid {
    background-image: url("/assets/images/IconGrid.png");
    cursor: pointer;
    transition: transform 0.3s ease;
    @include toogle-item;
}

.toogle-slide {
    background-image: url("/assets/images/IconSlide.png");
    @include toogle-item;
}

.toogle-table {
    background-image: url("/assets/images/IconTable.png");
    cursor: pointer;
    transition: transform 0.3s ease;
    @include toogle-item;
}

.toogle-grid:hover,
.toogle-table:hover
{
    transform: scale(1.15);
}

.active {
    opacity: 1;
}